img{
    max-width: 100%;
    height: auto;
    display: block;
  }  
  *{
    box-sizing: border-box;
  }
  
  .font-family{
    font-family: 'Bruno Ace SC', cursive;
    font-family: 'Noto Sans TC', sans-serif;
    font-family: 'Roboto', sans-serif;
  }
  
  .mt-32{
    margin-top: 32px;
  }
  .mt-64{
    margin-top: 64px;
  }
  .mb-32{
    margin-bottom: 32px;
  }
  .ms-32{
    margin-left: 32px;
  }
  .ps-32{
    padding-left: 32px;
  }
  .sidebar{
    width: 25%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .border-sucess{
    border-left: 4px #198754 solid;
  }
  
  .border-gray-900{
    border-bottom: 1px solid #212529;
  }
  table td{
    border-bottom: 1px solid #CED4DA;
    padding-top: 17px;
    padding-bottom: 19px;
  }